<div class="card">
    <img src="../../photo/c.jpg" class="card-img-top img-fluid min-width:" alt="...">
    <div class="card-body">
        <h5 class="card-title">Chiang Kai-shek Memorial Hall</h5>
        <p class="card-text">
            Zhongzheng Memorial Hall Square is spacious and vast, so there are large-scale performances in this
            exhibition, such as the "Cloud Gate Dance Set" outdoor public performance, "The Voice of the Cross-Century"
            concert, so that Zhongzheng Memorial Hall becomes the largest art square in Taipei City, in addition, the
            annual Lantern Festival hosted by the Taipei Lantern Festival is also a major event of the year.<br>

            <h5>Transportation:</h5>
            Take the Matsuyama New Store Line to Zhongzheng Memorial Hall Station. MRT Freshwater Line to Exit 5 of
            Zhongzheng Memorial Hall, about 12 minutes walk away, or take the MRT Mid-To-NewReed LineTo East Gate
            Station3rdExit, about a walk8thMinutes to reach. <br> <br>

            <h5>Nearby attractions:</h5>
            State Two Halls, National Theatre

        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.9734948826363!2d121.51785756537868!3d25.034973544405535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a99db9a2a94d%3A0x43e9034292df69b2!2sNational+Chiang+Kai-shek+Memorial+Hall!5e0!3m2!1sen!2stw!4v1564476052020!5m2!1sen!2stw" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</div>