<div class="card">
    <img src="../../photo/i.jpg" class="card-img-top img-fluid min-width:" alt="...">
    <div class="card-body">
        <h5 class="card-title">Qijin Island </h5>
        <p class="card-text">
            The island offers great views of Kaohsiung City and of the cargo ships anchored and waiting to enter
            Kaohsiung Harbor. Chijin has a historic lighthouse, World War 1 bunkers, and an old artillary fortress. All
            are connected by a walking path that runs along the cliffs and harbor.

            <h5>Transportation: </h5>
            To get to Qijin Island, most commuters and tourists take the ferry from the Gushan Ferry Pier (takes about
            five minutes and costs NT$40 one way). To get there from the Banana Pier, walk for about a kilometer west
            along the harbor following Jiexing 1st Street and then Binhai 1st Road (connected to each other by a narrow
            alley). On weekends, however, you can also take a ferry directly from the Banana Pier (departures every half
            hour; NT$40 one way; info about Kaohsiung ferry services: kcs.kcg.gov.tw). After arriving at Qijin Island,
            make sure to do the following: walk up to the Qihou Lighthouse and the Qihou Battery; check out the Tianhou
            Temple and Qijin Old Street; rent a bicycle or electric quadricycle and explore the island’s sea-facing side
            (part of which is Qijin Seaside Park). If time allows, take in one of the gorgeous sunsets Qijin is famous
            for while relaxing on the island’s dark-sand beach.
        </p>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14737.861304069578!2d120.29824323623988!3d22.561693228539912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e02fa9a5bc591%3A0xfdbe550c04c51ad9!2sQijin+District!5e0!3m2!1sen!2stw!4v1564483157847!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</div>