<div class="card">
    <img src="../../photo/j.jpg" class="card-img-top img-fluid min-width:" alt="...">
    <div class="card-body">
        <h5 class="card-title">JiuFen Old Street </h5>
        <p class="card-text">
            Jiufen gets its name from the original nine families who settled in the village during the Qing dynasty, who
            asked for nine portions of shipments every time they arrived (九Jiu=nine 份Fen=portion). The discovery of gold
            in the area created a gold rush in the town that lasted until the last Japense Era. When gold mining ended
            in 1971, the town began to decay. After A City of Sadness was filmed there, the town began to see a tourist
            boom. Also the town began to see many visitors especially from Japan after 2001 due to the resemblance of
            the town in Spirited Away, even though Miyazaki has said that Jiufen was not inspiration for the movie. <br>

            <h5>Transportation:</h5>
            <b>By Train:</b> <br> Take TRA to Ruifang Station, then transfer to Keelung Bus which goes directly to
            Jiufen every few
            minutes (about a 15 minute ride from Ruifang). <br>
            <b>By Bus:</b> <br> Buses directly to Jiufen leave from Taipei Main Station and Songshan Station regularly.
            <br>
            <b>​By Car/Scooter: </b> <br> Take provincial highway 2 to Ruifang and then travel on highway 102 all the
            way up to
            Jiufen. Parking is scarce and some of the most expensive in Taiwan. Expect at least 250 NT per day for a car
            and 50 NT per day for a scooter. <br>

        </p>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.7632495959288!2d121.84299401537983!3d25.109874341398854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x345d4517fafb9471%3A0x5f15825aa6a4a7d2!2sJiufen+Old+Street!5e0!3m2!1sen!2stw!4v1564476434012!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</div>