<div class="card">
    <img src="../../photo/m.jpg" class="card-img-top img-fluid min-width:" alt="...">
    <div class="card-body">
        <h5 class="card-title">Maokong Gondola</h5>
        <p class="card-text">
            Widely known as the most scenic spot in Taipei to drink quality, locally grown tea, Maokong is a quaint
            village located at the top of a mountain providing breathtaking views of Taipei City.

            Tea aficionados will enjoy Maokong for its wide variety of teahouses and high quality selection, while
            others looking for a relaxing break from the busy city can sit back with a cup of tea and nice dinner, all
            while taking in the beautiful views of Taipei.

            The best way to reach Maokong is to take the Maokong Gondola scenic cable car up the mountain from MRT
            Taipei Zoo Station, NT$120 each way for adults, NT$50 for children 6-12 and seniors over 65, with each adult
            allowed up to 2 children under 6 for free. Easycards are given a 20% discount on weekdays, and also receive
            a NT$20 discount when also used for zoo entry.

            The Maokong Gondola was built in 2007 and retrofitted with Crystal Cabins (glass-bottom cars) in 2010 to
            provide more viewing angles and opportunities, also lowering the service interval to 3 minutes per car.

            While the tea houses and shops on Maokong are open according to their own schedules, gondola service is
            contingent upon the weather situation for safety reasons, however is generally open from 8:30AM to 9PM (10PM
            on Fri & Sat). <br>

            <h5>Transportation:</h5>
            <b>By MRT: </b><br> Take the Brown Line 1 to the terminus station, Taipei Zoo (動物園). Transfer to the Maokong
            Gondola, a cable-car service that climbs up the mountain to the peak at Maokong. <br>
            <b>By Bus: </b><br> Bus S10 operates between MRT Taipei Zoo and the peak at Maokong, with a stop at National
            Chengchi University (國立政治大學).<br>

        </p>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3616.1315369702165!2d121.57717!3d24.995646!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDU5JzQ0LjMiTiAxMjHCsDM0JzM3LjgiRQ!5e0!3m2!1szh-TW!2sus!4v1564476833696!5m2!1szh-TW!2sus"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</div>