<div class="card">
    <img src="../../photo/o.jpg" class="card-img-top img-fluid min-width:" alt="...">
    <div class="card-body">
        <h5 class="card-title">Old Fort of Anping</h5>
        <p class="card-text">
            A combined Dutch military and commercial force captured modern day Anping in 1624, and built Fort
            Zeelandia(熱蘭遮城) as its defensive stronghold, which was completed in 1634. In 1662, Koxinga successfully took
            the Dutch fort back, and changed the name to Anping. The inner fort became the seat of government for
            Taiwan, and so it was known by Taiwanese as King's Fort. During the Qing Dynasty, excessive silting of the
            Taijiang shore gradually reduced the fort's importance, and it was neglected after being damaged by Qing
            soldiers who took building materials for the building of Eternal Golden Castle. The fort was rebuilt after
            the Japanese Colonial Period, and renamed Anping Old Fort (安平古堡) after World War II. Today the only remnant
            of the Dutch period is the southern brick wall outside the front gate of the Old Fort, covered in the
            tangled roots of old banyan trees, evidence of the nearly 400 years of Taijiang's history. In 1975, as part
            of the Tainan City Government's "sightseeing year" project, Anping Old Fort was repaired and its grounds
            extended. A pointed roof was also added to the observation tower, and the wall was painted white; that is
            the Anping Old Fort that we see today.<br>
        </p>
        <h5> Opening Hours</h5>
        Monday to Sunday 8:30~17:30 Full price tickets NT$50, half price tickets NT$25 (Free entry for Tainan residents
        with IDs)
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.6060612464407!2d120.1584357149675!3d23.0015092849638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e767378e3e467%3A0x9b1e15dd6ac9adf1!2sAnping+Old+Fort!5e0!3m2!1sen!2stw!4v1564480919038!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</div>