<div class="card">
    <img src="../../photo/p.jpg" class="card-img-top img-fluid min-width:" alt="...">
    <div class="card-body">
        <h5 class="card-title">Paochueh Temple</h5>
        <p class="card-text">
            Built in 1927, Paochueh Temple is located on Jianxing Road in Beitun district. The original main hall of the
            temple was a classic Japanese-style drum tower. To protect it, the original hall is now surrounded with
            concrete walls. The most renowned parts of the temple include Yu-ai (Kindness) Bell Tower, Chi-bao (Seven
            Treasure) Tower and the seven-story-tall Maitreya Statue which is the most noticeable landmark of Paochueh
            Temple.
            In front of the Statue sits numerous statues of the happy buddha under cherry blossom trees that will come
            into full bloom at the arrival of spring. Yu-ai Bell Tower holds a 600-kilogram bell which is a gift of the
            Japanese. The area in front of the Hall of Kshitigarbha is the columbarium for Taiwanese, Japanese soldiers
            and Japanese civilians who died in WWII. It is visited by many Japanese tourists and believers of Japanese
            buddhism every year.
            <br>

            <h5>Transportation:</h5>
            <b>Self Drive:</b> <br> Nat'l Hwy 1 → Yongkang Interchange → Prov. Hwy 1 → Zhongyang Rd. → Sec. 1, Zhonghua
            N. Rd. → Sec. 2, Zhonghua W. Rd. → Anping Rd. → Gubao St. → Guosheng Rd.<br>
            <b> Public: </b><br> Take the train to Tainan Station → transfer city bus No. 2 to Anping Old Fort stop.<br>
        </p>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.35409033402!2d120.68571111498912!3d24.159311584389446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d6066bd4f99%3A0xc3b0216f6c0476c2!2sPaochueh+Temple!5e0!3m2!1sen!2stw!4v1564476951485!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</div>