<div class="card">
    <img src="../../photo/q.jpg" class="card-img-top img-fluid min-width:" alt="...">
    <div class="card-body">
        <h5 class="card-title">Qigu Lagoon</h5>
        <p class="card-text">
            Qigu Lagoon(七股潟湖), known locally as Naihaizai(內海仔), is the remains of the Taijiang Inner Sea (台江內海) from
            over 300 years ago, and covers approximately 1,600 hectares. Riding the recreational fishing rafts across
            the lagoon is the best way to experience Qigu. Oyster sheds line the edges, with fishing nets set up and
            fishermen slowly rowing small canoes. The mangrove forest at the edge of the lagoon is full of egrets, and
            at migration time in the winter, cormorants can be seen basking in the sun on top of the oyster sheds,
            waiting for their feathers to dry in the sun ready for the next bit of underwater hunting. The fishing rafts
            finally arrive on an isolated offshore sandbank called "Wanzailiao Barrier Land", where you can explore the
            uninhabited island and gaze into the magnificent Taiwan Strait. On the return trip, the boatman will most
            likely prepare roast oyster and other fresh seafood to fill the tourists' bellies. The "Z" shaped oyster
            shed in front of Guanhai House is the most photographed spot, and an exceptionally good place to appreciate
            the glow of the setting sun.
        </p>
        <h5> Opening Hours </h5>
        Free entry, open all day long
        <br> <br>

        <h5> Transportation </h5>
        <b> Self Drive: </b> <br>
        1. Nat'l Hwy 1 → Madou Interchange → County Hwy 176 (heading to Qigu direction) → Prov. Hwy 17 <br>
        2. Nat'l Hwy 3 → Exit at Xinhua Interchange → Nat'l Hwy 8 → Exit at Xinji Interchange → Prov. Hwy 19 → Prov. Hwy
        17
        <br>
        <b>By Bus: </b><br>
        From Tainan Railway Station, take Xingnan Bus to Jiali stop, then take Xingnan Bus (toward Qingkunshen) to Qigu.
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58701.65585760458!2d120.03349423427507!3d23.139029882805296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346dd73aa80cc2cf%3A0x3e797c3dcf8bbc9!2sQigu+Lagoon!5e0!3m2!1sen!2stw!4v1564481206924!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</div>