<div class="card">
    <img src="../../photo/u.jpg" class="card-img-top img-fluid min-width:" alt="...">
    <div class="card-body">
        <h5 class="card-title">Wanli UFO Village</h5>
        <p class="card-text">
            An hour away from Taipei, lies an abandoned resort known as the UFO Village.

            This abnormal structure complex is based in Wanli, New Taipei City to be exact.

            Spooky, strange and uncomfortable.. those are the feelings running through you when walking around.

            From the very first point of entering the completely empty area filled with strange apartment pods known as
            Futuros (the UFO looking ones) and Venturos (the rectangularly shaped pods) a ton of questions start popping
            into your head.<br>

            <h5>Transportation: </h5>
            <b>By train </b> <br>
            take the train to Keelung and transfer to bus 790 from there or take bus 1815 directly from Taipei City Hall
            bus station getting off at the Feicui Bay stop.
        </p>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57772.65650607228!2d121.61394874996105!3d25.176532907839526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x345d4cdf8588a4fd%3A0xed6c3c82f220e312!2sWanli+District%2C+New+Taipei+City%2C+207!5e0!3m2!1sen!2stw!4v1564484315483!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</div>