<div class="card">
    <img src="../../photo/w.jpg" class="card-img-top img-fluid min-width:" alt="...">
    <div class="card-body">
        <h5 class="card-title">White Sand Bay</h5>
        <p class="card-text">
            Located north of Taipei City slightly past Tamsui (淡水, Danshui) in Shimen, Baishawan (literally White Sand
            Bay) is a nice free public beach, which, even during the summer months, remains relatively uncrowded.

            Baishawan's white sand differs greatly from the fine, black sand in Yilan's Wushigang and from the golden
            sand at Fulong Beach.

            Promoted as a trendy water sports paradise, it is located between Linshan Cape and Fugui Cape, and is also
            home to the North Coast Exploratorium (next to the beach entrance), which shows 3D films in a mini submarine
            theater.

            Towards the north end of the beach is a small shopping area with cafés, restaurants, and small shops.

            A tent rental should cost around NT$250, cold shower NT$20, and hot shower NT$40.

            There is ample English signage around to help visitors.<br>

            <h5>Transportation:</h5>
            <b>By MRT: </b><br>
            Take the MRT Red Line 2 to Tamsui Station (淡水), northern terminus of the red line. After exiting the
            station, cross the street to the bus stop, and board local busses 622 or 623, or long distance 1261, 1262,
            or 1263. Get off the bus at the Baishawan (白沙灣) stop. It is recommended to just use an EasyCard (悠遊卡) as the
            fare structure is a bit complex and may be confusing for non-Chinese speakers. To return to Tamsui, board
            the same busses in the opposite direction. Service on these routes is infrequent, so be sure to check the
            stop sign for boarding times. <br>
        </p>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3701.0070984370855!2d120.71568301534185!3d21.93427856162323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3471b1150ebf5f65%3A0x7c7d983e7a6ade66!2sWhite+Sand+Bay!5e0!3m2!1sen!2stw!4v1564477368842!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</div>