<div class="card">
    <img src="../../photo/y.jpg" class="card-img-top img-fluid min-width:" alt="...">
    <div class="card-body">
        <h5 class="card-title">Yang Ming Shan</h5>
        <p class="card-text">
            <h5>Dyna Tiangang</h5>
            during the day you can see the nearby farm buffalo grazing, if you want to exercise you can
            also go to the nearby fish road ancient road, silk waterfall trail and stone terrace trail walk,quite famous
            grassland landscape, suitable for walking <br> <br>
            <h5>Bamboo Lake</h5>
            Covers Yang Ming Shan National Park, is an important Yangming Sja attraction. Bamboo Lake
            taro season always attracts many people every year, about March or April, each year has a different theme
            activities, so that everyone can come here to fully experience the beauty of bamboo lake. <br><br>

            <h5>Transportation:</h5>
            Take the MRT Freshwater Line and get off at Jiantan Station (about 15 minutes, fare 25 yuan)
            Get off the red 5, 260 line at Yangmingshan Main Station to get off (about 30 minutes, fare 30 yuan)
            <br>
        </p>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.265985423889!2d121.55874761538082!3d25.194251038001777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442adf824cfc74b%3A0x5c0be3a34fc3b079!2sYangmingshan+National+Park!5e0!3m2!1sen!2stw!4v1564477423787!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</div>