body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #666;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url('../../photo/i2.jpg');
    min-height: 100%;
}

.pimg2 {
    background-image: url('../../photo/i3.jpg');
    min-height: 450px;
}

.pimg3 {
    background-image: url('../../img/image3.jpg');
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
    margin: auto;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
}

.ptext {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 50px;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-decoration: none;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

@media(max-width:568px) {
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }
}

.introduce {
    text-align: left;
    width: 50%;
    margin-left: 25%;
    line-height: 1.8em;
}