* {
  padding: 0%;
  margin: 0%;
  font-family: 'Amiko', sans-serif;
  box-sizing: border-box;
}

/*20191207 Animation*/

section {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.tp101 {
  height: 90vh;
  width: 100%; 
  position: relative;
}
.tp101 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.tp101::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #ba7453, #d1a984);
  z-index: -1;
}

/**/

/* body {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  animation: test 7s;
} */
.taiwanSoul {
  position: absolute;
  top: 12%;
}

a:link {
  text-decoration: none !important;
}

a:visited {
  color: #353b48;
}

a:hover {
  color: white;
}

/* Front page middle text && button area */
/*hr line*/
.hr-1, .hr-2 {
  padding-top: 5vh;
}

.horizontal-line {
  width: 5vw;
}

/*text*/
.home-text {
  margin: auto;
  padding-top: 10vh;
  text-align: center;
  vertical-align: middle;
  font-size: 10.5vh;
  color: #353b48;
}

/*button*/

.btn-title {
  border: 4px solid #353b48;
  font-weight: 1vw;
  font-size: 3vh;
}

.enter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*frontpage middle text&button area*/

/*animated
  @keyframes test {
    from {
      filter: grayscale(100%);

    }

    to {
      filter: grayscale(0%);
    }
  }
*/

/*
  .fade-in {
    animation: fade-in 2.5s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  */

@media (max-width: 1134px) {
  body {
    background-image: url("../photo/101.png");
    height: 100vh;
    background-position-x: 28%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    animation: test 7s;
  }
}

@media (max-width: 950px) {
  body {
    background-image: url("../photo/101.png");
    height: 100vh;
    background-position-x: 28%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    animation: test 7s;
  }
}

@media (max-width: 690px) {
  body {
    background-image: url("../photo/101.png");
    height: 100vh;
    background-position-x: 28%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    animation: test 7s;
  }
}

@media (max-width: 550px) {
  body {
    background-image: url("../photo/101.png");
    height: 100vh;
    background-position-x: 28%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    animation: test 7s;
  }
}