body {
    background: url("../photo/wallhaven-343454.jpg");
    background-repeat: no-repeat;
    background-size: 1980px 1080px;
    background-attachment: fixed;
}

img {
    max-width: 100%;
    height: auto;
}

footer p {
    font-size: 3vh;
}

footer {
    padding-top: 2rem;
}