<!-- Goto left-->
<a href="/b2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="d2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Chiang Kai-shek Memorial Hall
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Chiang Kai-shek Memorial Hall</h3>
    <p class="card-text">
        <p class="introduce">
            Zhongzheng Memorial Hall Square is spacious and vast, so there are large-scale performances in this
            exhibition, such as the "Cloud Gate Dance Set" outdoor public performance, "The Voice of the Cross-Century"
            concert, so that Zhongzheng Memorial Hall becomes the largest art square in Taipei City, in addition, the
            annual Lantern Festival hosted by the Taipei Lantern Festival is also a major event of the year.
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce">
            Take the Matsuyama New Store Line to Zhongzheng Memorial Hall Station. MRT Freshwater Line to Exit 5 of
            Zhongzheng Memorial Hall, about 12 minutes walk away, or take the MRT Mid-To-NewReed LineTo East Gate
            Station3rdExit, about a walk8thMinutes to reach.
        </p>
        <h3>Nearby attractions:</h3>
        <p>
        State Two Halls, National Theatre
        </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.9734948826363!2d121.51785756537868!3d25.034973544405535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a99db9a2a94d%3A0x43e9034292df69b2!2sNational+Chiang+Kai-shek+Memorial+Hall!5e0!3m2!1sen!2stw!4v1564476052020!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>