<!-- Goto left-->
<a href="/c2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="/e2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>


<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Fort San Domingo
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Fort San Domingo </h3>
    <p class="card-text">
        <p class="introduce">
            This is Tamsui's most prominent monument to foreign involvement in Taiwan. First built in 1629 by the
            Spanish, Fort San Domingo was intended to aid the imposition of Spanish rule over the local Chinese and
            aboriginal populations in northern Taiwan.

            This fort was captured by the Dutch in 1642 when they drove the Spanish from the island. They replaced the
            Spanish-built stockade with a fort made of stone. The fort became known as the "Hongmao Castle" (Fort of the
            Red Heads) in reference to the colorful locks of its Dutch occupants.

            In 1867, the British leased the fort and undertook massive renovations, which included the construction of
            the imposing British Consulate in the eastern section of the fortress compound. Its red brick verandah and
            red roof tiles complement the color scheme and design of the fort.

            Hongmao Castle's position overlooking the mouth of the Tamsui River makes it a particularly attractive
            scenic spot, especially at sunset.
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce">
            ● Self-driving:<br>
            State Road 1 - Taipei Exchange Road under - Provincial Road 2 B line.<br>
            ● Mass transportation:<br>
            Take the high-speed or Taiwan-to-Taipei station - transfer Taipei MRT to Freshwater Station - transfer
            freshwater passenger transport (Red 36, Red 38) to The University of Truth Station or (837 Road) to Red
            Maocheng Station. 2. Take the high-speed or Taiwan-to-Taipei station - transfer Taipei MRT to Freshwater
            Station - transfer guide passenger transport (Red 26, 836) to Red Maocheng Station.
        </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.824560882861!2d121.43077076538056!3d25.175401038761642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a54fc0269ea9%3A0xefd8a1452482dedd!2sFort+San+Domingo!5e0!3m2!1sen!2stw!4v1564476121544!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>