<!-- Goto left-->
<a href="/d2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="/f2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>


<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Elephant Mountain
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title"> Elephant Mountain</h3>
    <p class="card-text">
        <p class="introduce">
            For the best view of Taipei City, make a hike to the top of Elephant Mountain!

            Also known as the Nangang District Hiking Trail and Xiangshan (象山), the hiking trail is located close to the
            Xinyi Shopping District and Taipei 101.

            The best time to hike the mountain is during late afternoon, this way you can catch the sunset as well as a
            daytime view and stunning nighttime view of the city, however the trail can get relatively crowded during
            the weekend.

            The hike takes a total of around 15-20 minutes to the top, and includes lots of stairs! Remember to take a
            left at the fork in the path. After around 8-10 minutes, there will be a landing area with facilities and
            restrooms where the path branches off in multiple directions.
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce">
            From the base of Taipei 101, walk east on Xinyi Road (信義路) for two blocks until you reach MRT Xiangshan
            Station, only a 15 minute walk from 101 and completely worth it. To get there faster, take a YouBike from
            the station across the street from 101 (MRT Exit 2), then return the bike at the park nearby the trail
            entrance.
        </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14460.805197504971!2d121.56774413672048!3d25.02724178662189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abac5b58b165%3A0x6db89036490f6520!2z6LGh5bGx!5e0!3m2!1sen!2stw!4v1564476222516!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>