<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Formosan Aboriginal Culture Village
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Formosan Aboriginal Culture Village</h3>
    <p class="card-text">
        <p class="introduce">
            Located next to Sun Moon Lake near Puli in Nantou County, the Formosan Aboriginal Culture Village is an
            amusement park connected to and accessed by the Sun Moon Lake Ropeway (日月潭纜車).

            The park is home to Taiwan's first suspended roller coaster and tallest free-fall ride. As of 2019, the park
            has also launched a new water attraction section called "Spanish Coast (西班牙海岸)".

            A one-day trip with transportation and guide from Taichung is available to the park and includes a visit to
            Sun Moon Lake.

            The aboriginal groups represented within the park include the Atayal (泰雅族), Saisiyat (賽夏族), Tsou (鄒族), Bunun
            (布農族), Puyuma (卑南族), Rukai (魯凱族), Yami/Tao (達悟族), Amis (阿美族), Paiwan (排灣族), and the local Thao/Ngan (邵族).
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce">
            The best way to reach Formosa Aboriginal Culture Village is to take the gondola cable car service from Sun
            Moon Lake Ita Thao.
        </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7297.4035243576445!2d120.9442396265675!3d23.864721899706375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468d6f412fe1b75%3A0xfe11371f7e7cbb8c!2sFormosan+Aboriginal+Culture+Village!5e0!3m2!1sen!2stw!4v1564476270223!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>