<!-- Goto left-->
<a href="/f2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="/h2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Guguan Hot Springs
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Guguan Hot Springs</h3>
    <p class="card-text">
        <p class="introduce">
            Guguang Hot Spring is with Bashan Mountain as its backdrop and also facing Dajia River. The Cultural Museum
            of Hot Spring, Shaolai Walking Trail, Shaolai Suspension Bridge, Guguan Suspension Bridge, Taiwan Pines, etc
            are among those well-known scenic spots around Guguan Hot Spring. It’s said that after Emperor Meji was
            bathed in Guguang Hot Spring, he successfully got through a baby boy. That being said, Guguang Hot Spring is
            nicknamed as “Hot Spring that Helps Mothers to Give Birth to Boys”, too.
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce">
            ●By public transportation：
            Fengyuan Bus Company (Take a bus from Taichung to Guguan via Fengyuan and Dongshi) alight at the
            Guguan-Fengyuan Main Station. <br>
            ●By driving：
            1National Highway No. 1 exit Fengyuan Interchange→ to Fengyuan City Center, turn to Provincial Highway NO.3
            towards Dongshi direction→ turn to Provincial Highway NO.8 (Central Cross-Island Highway)→ Guguan. 2National
            Highway No. 1, National Highway No. 3→ National Highway No. 4 and exit Shigang Interchange→ Dongshi→
            Provincial Highway NO.8 (Central Cross-Island Expressway)→ Guguan.
        </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14556.39141543939!2d121.00041193655301!3d24.203352221421444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468e469eab14baf%3A0x6a85ff21ec219b05!2z6LC36Zec5rqr5rOJ!5e0!3m2!1sen!2stw!4v1564476312009!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>