<!-- Goto left-->
<a href="/g2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="/i2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Houtong Cat Village
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Houtong Cat Village</h3>
    <p class="card-text">
        <p class="introduce">
            Famous island-wide as the home for literally hundreds of cats, the Houtong Cat Village is a must-see for cat
            lovers.

            Originally a small coal mining town built during the Japanese era, Houtong attracted over 6,000 workers to
            the area, producing the highest amount of coal in Taiwan. By the 1990s with the ending of coal industry
            activities, the town's population began to decline, and is now a mountain town with museums and shops.

            In 2008, a local cat lover began to care for abandoned cats in the town, finding and organising volunteers
            to post photos of the cats online. The public fell in love with the adorable cats and the village once
            again, reviving the area into a tourist destination.

            The village is along the Pingxi Train Line (平溪線), leaving from Ruifang (瑞芳).
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce">
            <b>By train:</b> <br>
            From Taipei Main Station, take a northbound train (except Keelung-bound trains) towards Ruifang Station.
            Either continue on a local train or Chu-kuang train one station further to Houtong, or transfer to the
            Pingxi Line (平溪線) and purchase a One Day Ticket for the Pingxi Line, NT$52. Afterwards, continue on to visit
            Shifen Waterfall and Pingxi. <br>
            <b>By bus:</b> <br>
            From Ruifang train station, cross the street and take Bus 808 or F808 to Houtong town area.
        </p>

</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.4328371307156!2d121.82461921537943!3d25.087205442309738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x345d4ff632f84f3d%3A0xfb6865721a6912d0!2sMonkey+cat+village!5e0!3m2!1sen!2stw!4v1564476365633!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>