<!-- Goto left-->
<a href="/j2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="/l2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Keelung Night Market
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Keelung Night Market</h3>
    <p class="card-text">
        <p class="introduce">
            Keelung Night Market is located in the center of Keelung City. The rise of the night market has much to do
            with the Dianji Temple. In the early days, pilgrims to the temple would gather at the temple; sometimes
            outdoor performers and other entertainers would perform near the temple as well. Street vendors selling food
            and drink were in turn attracted to the area by the large amount of foot traffic, and all of these factors
            contributed to the rise and prosperity of Keelung Night Market. The number of vendors increased and the
            night market gradually stretched from its center at Ren 3rd Road into Ai 3rd Road and Ai 4th Road. This is
            the famous Keelung Night Market, the prime tourist attraction of Keelung. The characteristic of Keelung
            Night Market's snacks is that vendors present all of their dishes clearly in front of customers. Every
            individual dish served in the night market has its own flavor and history. Keelung Night Market's exhibition
            hall of delicious food and snacks is open year-round, displaying a wide variety of dishes made from rice,
            flour and beans, as well as seafood, meats, desserts and frozen treats. Many food experts praise Keelung
            Night Market as having "the largest variety of dishes in the whole of Taiwan". Some famous dishes include
            tempura, dingbiancuo (potside scrapings), sandwiches, chicken rolls, butter crab, thick bean-sprout soup,
            fresh seafood, pork knuckle, braised eel soup, bubble ice, etc.
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce">
            <b>By Train:</b> <br>
            Go to Taipei Main Station and take a Local Train (區間車) on Taiwan Railways to Keelung Station. The price of
            the ticket will be NT$41, and generally leave every 15-20 minutes all day. <br>
            <b>By Bus:</b> <br>
            The bus from the Kuo-Kuang Bus company just outside Taipei Main Station (台北車站), Exit East 3 (東3) is the
            quickest way to get to Keelung. The price of the ticket is NT$55.
        </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.218130370996!2d121.74139641538004!3d25.12831524065723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x345d4e3e159d9663%3A0x1d84dd13f992491e!2sKeelung+Night+Market!5e0!3m2!1sen!2stw!4v1564476478884!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>