<!-- Goto left-->
<a href="/k2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="/m2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Longshan Temple
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Longshan Temple</h3>
    <p class="card-text">
        <p class="introduce">
            The Lungshan Temple houses hundred of statues of Buddhist, Taoist, and Confucian deities. The temple mixes
            traditional Chinese siheyuan ("four-building courtyard") with palace architecture in its design. The temple
            is divided into front hall, main hall, rear hall, right wing and left wing. Painting of vivid creatures
            grace the temple walls, and stone statues of mystical creatures guard the temple grounds. The joining of
            wall and roof did not use any nails or braces made of metal. Covered by overtapping tiles, the temple roof
            is decorated with figures of dragon, phoenix and other auspicious creatures. The figures are decorated with
            porcelain, clay, and shards of colored glass. They represent the pinnacle of mosaic art in Taiwan. The
            temple has been declared a Secondary National Heritage Site.
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce">
            <b>By MRT: </b> <br> Take the Blue Line 5 to Longshan Temple (龍山寺), the temple is located just north of the
            station plaza, Exit 1. <br>
            <b>By Train:</b> <br>
            Longshan is located one block north of Wanhua station (萬華), accessible by Local service (區間車)
        </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.908851806905!2d121.49771201537891!3d25.037167144317674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a9a8d7e7de09%3A0xf8e8335e58c41c8a!2sLungshan+Temple!5e0!3m2!1sen!2stw!4v1564476525341!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>