<!-- Goto left-->
<a href="/m2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="/o2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Ningxia Night Market
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Ningxia Night Market</h3>
    <p class="card-text">
        <p class="introduce">
            A nostalgic Taiwanese night market, Ningxia Night Market is all about eating as many Taiwanese 小吃 snacks as
            possible!

            The night market is located along Ningxia Road (寧夏路), between Minsheng West Road (民生西路) and the Taipei
            Circle (圓環) at Nanjing West Road (南京西路).

            The northern part of the market is dedicated to food, while the southern part has some games and shops to
            enjoy.
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce">
            <b>By MRT: </b><br> From Red Line 2 Shuanglian (雙連) station, Exit 1, take a left onto Minsheng West Road
            (民生西路) heading west. Walk for about 6-8 mins, and the night market will be on the left side.
        </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.3672197050446!2d121.51307961537906!3d25.055539843580767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a96b56cf45c5%3A0xa2e6923fa27a10b4!2z5a-n5aSP5aSc5biC!5e0!3m2!1szh-TW!2sus!4v1564476880726!5m2!1szh-TW!2sus"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>