<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Raohe Street Night Market
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Raohe Street Night Market</h3>
    <p class="card-text">
        <p class="introduce">
            One of the oldest night markets in Taipei, the Raohe Street Night Market is a must visit destination! The
            epitome of a traditional Taiwanese night market, this 600 metre path along Raohe Street in Songshan District
            is packed with fun and interesting night foods and snacks, quaint shops and stalls, and carnival games with
            prizes.

            At the eastern end of the night market outside Songshan Station (both the MRT Green Line 3 and train) is the
            Ciyou Temple (慈祐宮), built by local residents during the Qing Dynasty era.

            Tour groups tend to concentrate themselves around the eastern edge of the market. Individual travellers are
            recommended to walk directly past these groups for a nicer experience.

            Before grabbing a snack at Raohe, take a stroll through the Clothing Shopping Outlet in Wufenpu (五分埔), a
            hotspot for finding deeply discounted fashion in an abundance of shops located within a maze of alleys.
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce">
            <b>By MRT: </b><br>Take the Green Line 3 to the terminal station Songshan (松山), exit 5. The night market
            entrance is just to the right across the street next to the temple. <br>
            <b>By Train </b><br>From Taipei Main Station, take any local train northbound (區間車) to Songshan Station
            (松山), then locate MRT exit 5.
        </p>

</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.3672197050446!2d121.51307961537906!3d25.055539843580767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a96b56cf45c5%3A0xa2e6923fa27a10b4!2sNingxia+Night+Market!5e0!3m2!1sen!2stw!4v1564477293414!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>