<!-- Goto left-->
<a href="/r2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="/t2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>


<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Shenkeng Old Street
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Shenkeng Old Street</h3>
    <p class="card-text">
        <p class="introduce">
            As Shenkeng Old Street is roughly 10 minutes drive from downtown Taipei, many people make a half-day trip to
            Shenkeng during holidays by car. You will know you have arrived at the Old Street when you see the autumn
            maple tree at the entrance. Visitors can park cars by the entrance and walk to the Old Street. In addition
            to various dishes made with tofu, you can also try other specialty foods, including green bamboo shoots,
            black pig pork and boazhong tea. You will be impressed by these tasty foods.
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce">
            <b>By MRT: </b><br>After arriving at MRT Green Line 3 Gongguan station (公館), take Bus 660 heading
            southbound, and get off at Shenkeng stop.
        </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.9610643975375!2d121.61198011537827!3d25.00143894574916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aac459f59e5f%3A0xabc2e9c435c6bdfd!2sShenkeng+Old+Street!5e0!3m2!1sen!2stw!4v1564477175761!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>