<!-- Goto left-->
<a href="/s2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="/u2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
                Taipei 101
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Taipei 101</h3>
    <p class="card-text">
        <p class="introduce">
            Want to take a trip to the top of Taipei 101? The Taipei 101 Observatory is open every day from 9AM to 10PM.

            The observatory is spread over 4 floors where visitors can enjoy the fantastic scenery and learn about the
            engineering marvel that is Taipei 101, the tallest green building the world. <br><br>

            <b>5F Taipei 101 Mall</b> - Here, visitors purchase tickets and take the Guinness World Record breaking
            high-speed
            elevator to the observatory on the 89TH floor, traveling at 1,010 metres/min (60.6KPH), taking only 37
            seconds to ascend to the observatory at the 89TH floor. <br><br>

            <b>89F Indoor Observatory</b> - At 382 metres above the ground, the observatory deck provides an
            unobstructed view
            of the city in all directions. The observatory deck also houses a museum where visitors can learn about the
            design process and construction of Taipei 101 and other similar large-scale construction projects around the
            world, including a free audio tour in eleven languages, as well as high-powered binoculars, refreshments,
            and professional photography service. <br><br>

            <b>88F Beauty of Taiwan Multimedia Corridor, Super Big Wind Damper, Treasure Sky </b>- The corridor
            connecting the
            two decks is designed to showcase the natural beauty of Taiwan, providing 270-degree views of well-known
            scenic locations in Taiwan, leading to the engineering marvel known as a wind damper, a 5.5 metre diameter,
            660 ton weight suspended within the building to offset the force of wind and help 101 stand upright. Also
            included is Treasury Sky, a collection of unique jewel crafts. <br><br>

            <b>91F Outdoor Observatory </b>- The outdoor observatory is accessible by stairs from the 89TH floor. From
            the
            outside, it's possible to view the spire at the 508 metre high apex, but watch out for the strong winds!
            Inside the building on the 91ST floor is a small theatre showcasing films about the construction and the
            annual New Years fireworks display. 91F is only open on days with favorable weather conditions.<br><br>
            <br>
        </p>

        <h3>Transportation:</h3>
        <p class="introduce">
            <b>By MRT: </b><br>Take the Red Line 2 (Xiangshan train) to Taipei 101 station (台北101). After entering
            Taipei 101, head up to the 5TH floor to purchase a ticket for the observatory. <br>
        </p>

        <br>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.0031035081965!2d121.5622835153787!3d25.033968744445872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da9c9e1f%3A0x1206bcf082fd10a6!2sTaipei+101%2C+No.+7%2C+Section+5%2C+Xinyi+Road%2C+Xinyi+District%2C+Taipei+City%2C+110!5e0!3m2!1sen!2stw!4v1564477315759!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>