<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Maokong Gondola
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Mountain Ali</h3>
    <p class="card-text">
        <p class="introduce">

            <br>
        </p>

        <h3>Transportation:</h3>
        <p class="introduce">

        </p>

        <br>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>

    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>