<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Rainbow military housing
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Rainbow military housing</h3>
    <p class="card-text">
        <p class="introduce">
            The rainbow military housing is in Nantun, Taichung. One of the retired soldiers paints on the wall with
            paints. However, the housing is facing problem of dismantling for the government’s city plan. There are over
            3 thousands of people supporting the rainbow military housing in only 2 days. The retired soldiers started
            to paint since September, 2008. He paints his dream out on the wall and brings a new life to the military
            housing. As a result, many people call him Grandpa Rainbow. The spot attracts many people on weekends. The
            city government declared that the painting is worth to preserve and they will modify their city plan.
            <br>
        </p>
        <br>
        <h3>Address</h3>
        <p class="introduce" style="text-align: center">
            Ln. 56, Chun’an Rd., Nantun Dist., Taichung City
        </p>

</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3641.0841999334107!2d120.60764331498855!3d24.13368098440183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693e87f82595db%3A0x9a8836cb8c007336!2sRainbow+Village!5e0!3m2!1sen!2stw!4v1564482297364!5m2!1sen!2stw"
        width="100%" height="600PX" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>