<!-- Goto left-->
<a href="/w2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="/y2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Ximending
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Ximending</h3>
    <p class="card-text">
        <p class="introduce">
            The "Harajuku" of Taipei, this pedestrian shopping haven is one of the city's culture centres, hosting a
            massive variety of fashion clothing shops, eclectic restaurants, clubs, and bars.

            Located just west of Taipei Main Station in the historic Wanhua District, Ximending was founded during the
            Japanese colonisation era as a recreation district, and today has grown into a cultural icon with
            inspiration drawn from its Japanese roots.

            One of the most popular destination for tourists, the Ximending Pedestrian Area is the centre of the
            district, and accessible from Exit 6 of Ximen Station. The area is very popular with tourists and Taipei
            youth, and, along with shopping and restaurants, also hosts street performances and exhibitions.
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce" style="text-align: center">
            Take Blue Line 5 or Green Line 3 to Ximen (西門). <br>
        </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7093608087725!2d121.5035839653788!3d25.04393554404625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a90918a8262b%3A0xcbf4f13adf52d4f7!2sShi-men+Ting%2C+Wanhua+District%2C+Taipei+City%2C+108!5e0!3m2!1sen!2stw!4v1564477403525!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>