<!-- Goto left-->
<a href="/x2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="/z2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Yang Ming Shan
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Yang Ming Shan</h3>
    <p class="card-text">
        <p class="introduce">
            Yangmingshan National Park is located in northern Taipei City, and easily accessible from downtown. Spanning
            114SQ. KM the area is home to numerous parks, hiking trails, interesting plants and wildlife, and the
            internationally famous hot springs.

            Designated as Category II by the International Union for Conservation of Nature as a national park for
            protection of nature and wildlife and ranging in elevation from 200 metres to 1,200 metres, there are many
            different subtropical and warm temperate climate zones that can be found within the park.

            The lasting Japanese influence on the area can be found in the area’s countless hot springs around Beitou
            and Xingyi Road, as well as many private hot springs only available by reservation. The Japanese also
            planted black pines, acacia trees, and the Formosan sweet gum to beautify the mountain. To this day, the
            area is very popular with Japanese tourists.
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce">
            Take the MRT Freshwater Line and get off at Jiantan Station (about 15 minutes, fare 25 yuan)
            Get off the red 5, 260 line at Yangmingshan Main Station to get off (about 30 minutes, fare 30 yuan)
        </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.265985423889!2d121.55874761538082!3d25.194251038001777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442adf824cfc74b%3A0x5c0be3a34fc3b079!2sYangmingshan+National+Park!5e0!3m2!1sen!2stw!4v1564477423787!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>