<!-- Goto left-->
<a href="/y2"><button id="back-to-left-btn"><i class="fas fa-angle-double-left"></i></button></a>
<!-- Goto right-->
<a href="/a2"><button id="back-to-right-btn"><i class="fas fa-angle-double-right"></i></button></a>
<!-- Goto top-->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Taipei Zoo
        </span>
    </div>
</div>

<section class="section section-dark">
    <h3 class="card-title">Taipei Zoo</h3>
    <p class="card-text">
        <p class="introduce">
            The Taipei Zoo is one of the ten largest municipal zoos in the world and the largest in Southeast Asia.
            Getting there is easy: just take the MRT Muzha Line southbound all the way to the terminal station. As the
            zoo is home to more than 400 animal species, rest assured there’s plenty to see!

            The zoo includes 7 indoor exhibits, each with different themes.At the Insectarium you’ll meet several
            butterfly species unique to Taiwan. Next, you won’t want to miss the hugely popular Koala House and Penguin
            House. There are also two giant pandas from China! These animals are the Zoo’s resident celebrities, so be
            sure to check them out!

            The star of the zoo used to be the Asian Elephant “Grandpa Lin Wang,” who lived to the ripe old age of 86.
            Lin’s longevity—20 years older than most Asian Elephants—was hailed by zoologists as a miracle. After his
            death, Lin was stuffed and put on display, and now enjoys the distinction of being the world’s largest
            stuffed Asian Elephant! You can see him on display in the Education Center.

            Apart from the indoor exhibits, the Taipei Zoo also features 8 outdoor exhibit areas. The latter are divided
            according to geographical environment, and possess educational value both as exhibits and ecological
            environments. The “Children’s Zoo,” “Formosan Animal Area,” and “African Animal Area” are the most popular,
            according to Internet voting. The Formosan Animal Area includes endemic species like Formosan sika deer,
            Taiwan macaque, and Swinhoe’s pheasant. These animals can only be found in Taiwan—definitely worth a look!
            <br>
        </p>
        <br>
        <h3>Transportation:</h3>
        <p class="introduce" style="text-align: center">
            Take the Brown Line 1 to the southern terminus Taipei Zoo (台北動物園).<br>
        </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border trans">
            Taiwan Soul
        </span>
    </div>
</div>

<section class="section section-light">
    <h5>Google Map</h5> <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.0670761845013!2d121.57987451500551!3d24.997836633989298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa604a32818f%3A0xaafe06fd09b4d766!2sTaipei+Zoo!5e0!3m2!1sen!2stw!4v1564475476331!5m2!1sen!2stw"
        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
</section>


<div class="pimg1">
    <div class="ptext">
        <a href="/atoz"><span class="border">
                Back
            </span></a>
    </div>
</div>