<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Colorful</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Amiko:700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet" />
  <!--MY CSS-->
  <link rel="stylesheet" href="css/mainpage.css">
  <style>

  </style>
</head>

<body>
  <div class="wrapper">
    <div class="cols">
      <!---->
      <div class="col">
        <div class="back">
          <a href="/">
            <img src="./../photo/TWV.png">
          </a>
        </div>
      </div>
      <!---->


      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#CFFFB0">
            <div class="inner">
              <p>A</p>
            </div>
          </div>
          <a href="/a">
            <div class="back" style="background-image: url(../photo/a.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#FFF689;">
            <div class="inner">
              <p>B</p>
            </div>
          </div>
          <a href="   /b    ">
            <div class="back" style="background-image: url(../photo/b.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#E03616">
            <div class="inner">
              <p>C</p>
            </div>
          </div>
          <a href="   /c    ">
            <div class="back" style="background-image: url(../photo/c.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#FFF689">
            <div class="inner">
              <p>D</p>
            </div>
          </div>
          <a href="   /d    ">
            <div class="back" style="background-image: url(../photo/d.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#5B507A">
            <div class="inner">
              <p>E</p>
            </div>
          </div>
          <a href="   /e    ">
            <div class="back" style="background-image: url(../photo/e.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#9b59b6">
            <div class="inner">
              <p>F</p>
            </div>
          </div>
          <a href="   /f    ">
            <div class="back" style="background-image: url(../photo/f.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#FFF689">
            <div class="inner">
              <p>G</p>
            </div>
          </div>
          <a href="   /g    ">
            <div class="back" style="background-image: url(../photo/g.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#9b59b6 ">
            <div class="inner">
              <p>H</p>
            </div>
          </div>
          <a href="   /h    ">
            <div class="back" style="background-image: url(../photo/h.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#E03616 ">
            <div class="inner">
              <p>I</p>
            </div>
          </div>
          <a href="   /i    ">
            <div class="back" style="background-image: url(../photo/i.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#FFF689 ">
            <div class="inner">
              <p>J</p>
            </div>
          </div>
          <a href="   /j    ">
            <div class="back" style="background-image: url(../photo/j.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#CFFFB0 ">
            <div class="inner">
              <p>K</p>
            </div>
          </div>
          <a href="   /k    ">
            <div class="back" style="background-image: url(../photo/k.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#5998C5 ">
            <div class="inner">
              <p>L</p>
            </div>
          </div>
          <a href="   /l    ">
            <div class="back" style="background-image: url(../photo/l.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#5B507A ">
            <div class="inner">
              <p>M</p>
            </div>
          </div>
          <a href="   /m    ">
            <div class="back" style="background-image: url(../photo/m.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#E03616">
            <div class="inner">
              <p>N</p>
            </div>
          </div>
          <a href="   /n    ">
            <div class="back" style="background-image: url(../photo/n.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#5B507A">
            <div class="inner">
              <p>O</p>
            </div>
          </div>
          <a href="   /o    ">
            <div class="back" style="background-image: url(../photo/o.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#9b59b6 ">
            <div class="inner">
              <p>P</p>
            </div>
          </div>
          <a href="   /p    ">
            <div class="back" style="background-image: url(../photo/p.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#CFFFB0 ">
            <div class="inner">
              <p>Q</p>
            </div>
          </div>
          <a href="   /q    ">
            <div class="back" style="background-image: url(../photo/q.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#5998C5 ">
            <div class="inner">
              <p>R</p>
            </div>
          </div>
          <a href="   /r    ">
            <div class="back" style="background-image: url(../photo/r.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#9b59b6 ">
            <div class="inner">
              <p>S</p>
            </div>
          </div>
          <a href="   /s    ">
            <div class="back" style="background-image: url(../photo/s.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#FFF689">
            <div class="inner">
              <p>T</p>
            </div>
          </div>
          <a href="   /t    ">
            <div class="back" style="background-image: url(../photo/t.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#9b59b6 ">
            <div class="inner">
              <p>U</p>
            </div>
          </div>
          <a href="   /u    ">
            <div class="back" style="background-image: url(../photo/u.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#FFF689 ">
            <div class="inner">
              <p>V</p>
            </div>
          </div>
          <a href="   /v    ">
            <div class="back" style="background-image: url(../photo/v.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#E03616">
            <div class="inner">
              <p>W</p>
            </div>
          </div>
          <a href="   /w    ">
            <div class="back" style="background-image: url(../photo/w.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#5998C5">
            <div class="inner">
              <p>X</p>
            </div>
          </div>
          <a href="   /x    ">
            <div class="back" style="background-image: url(../photo/x.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#5B507A ">
            <div class="inner">
              <p>Y</p>
            </div>
          </div>
          <a href="   /y    ">
            <div class="back" style="background-image: url(../photo/y.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <!---->
      <div class="col">
        <div class="container">
          <div class="front" style="background-color:#E03616  ">
            <div class="inner">
              <p>Z</p>
            </div>
          </div>
          <a href="   /z    ">
            <div class="back" style="background-image: url(../photo/z.jpg)"></div>
          </a>
        </div>
      </div>
      <!---->

      <div class="logo">
        <div class="container">
          <a href="/">
            <div class="logo" style="background-color: white">
              <img src="../photo/logo.png">
            </div>
          </a>
        </div>
      </div>



      <!--
      <div class="col">
        <div class="container">
          <a href="../index1    ">
            <div class="logo" style="background-image: url(../photo/logo.png); background-color:white;"></div>
          </a>
        </div>
      </div>
      -->
    </div>
  </div>
</body>

</html>