<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootstrap css CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--animate.css cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <!--hover.css cdn-->
    <link href="../css/hover.css/hover-min.css" rel="stylesheet" media="all">

    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!--googleFont-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiko:700" rel="stylesheet">

    <!--DON'T TOUCH!!! jquery, bootstrap,script-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
    <!--DON'T TOUCH!!! jquery, bootstrap,script-->

    <!--left side nav-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>

    <!--My CSS-->
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/contact.css">
    <!-- <link rel="stylesheet" href="../css/demo.css">
    <link rel="stylesheet" href="../css/footer-distributed-with-address-and-phones.css"> -->
    <!--My CSS-->
    <style>
        .head {
            font-family: 'Amiko', sans-serif;
            background-color: #E0E2DB;
        }
    </style>
</head>

<body>
    <div class="page">
        <!--animated nav-->
        <%- include('partials/nav') %>

        <div class="section">
            <!--content-->
            <div class="container-fluid content animated bounceInDown">
                <div class="row text-center">
                    <div class="col-12 col">
                        <h1 class="con">Contact us now!</h1>
                    </div>
                </div>
            </div>

            <!--form-->
            <div class="container form-1 animated bounceInDown">
                <form action="https://formspree.io/francis545@yahoo.com.tw" method="POST">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4">
                            <label>NAME</label>
                            <input type="text" class="form-control" placeholder="Name" name="name">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">EMAIL</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-8">
                            <label for="exampleFormControlTextarea1">MESSAGE</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                placeholder="Message" name="message"></textarea>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <button type="submit" class="btn btn-dark">Send</button>
                    </div>
                </form>
            </div>
            <!--social media-->
            <div class="text-center middle">
                <a class="btn1 bg-light" href="https://www.facebook.com/">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn1 bg-light" href="https://www.twitter.com/">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn1 bg-light" href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="btn1 bg-light" href="https://www.youtube.com/">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>

        <!--footer-->
        <% include partials/footer %>
        </>

        <!--myJavaScript-->
        <script src="../js/navNoEffect.js"></script>
</body>

</html>