<div class="copy text-center container-fluid foot ">
    <div class="left">
        <i class="fa fa-envelope"></i>
        TaiwanSoul@gmail.com
        <br>
        <i class="fas fa-phone"> 02-1325476980</i>
    </div>
    <div class="center">
        &copy; TaiwanSoul.com All Rights Reserved
    </div>
    <div class="right">
        <a href="#"><i class="fab fa-facebook-messenger"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-youtube-square"></i></a>
    </div>
</div>