<% if (true){ %>
<div class="icon">
    <% if (isLogin === true) { %>
    <a href="/users/logout"><img class="log-out-img" src="../photo/log_out.png" alt=""></a>
    <% } %>
    <a href="/users"><img class="log-in-img" src="../photo/log_in.png" alt=""></a>
</div>
<% } %>