<div class="icon-bar">
    <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://www.youtube.com/" class="youtube"><i class="fab fa-youtube"></i></a>
    <a href="https://www.instagram.com/?hl=zh-tw" class="instagram"><i class="fab fa-instagram"></i></a>
</div>